alembic==0.8.3
all==0.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
Flask==0.10.1
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
psycopg2==2.6.1
python-editor==0.4
pytz==2015.7
SQLAlchemy==1.0.9
Werkzeug==0.11.2
wheel==0.26.0
